{% extends "base.html" %}{% block title %}Sign in{% endblock %}
{% block body %}
<div class="login">
  <h1>Voltade Social<br><em>Media Office</em></h1>
  <form method="post" action="/login">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" autocapitalize="none" autofocus>
    <label for="password">Password</label>
    <input id="password" type="password" name="password">
    <div class="acts" style="margin-top:18px"><button class="yes" type="submit">Sign in</button></div>
  </form>
  {% if error %}<p class="err">{{ error }}</p>{% endif %}
</div>
{% endblock %}
